body {
    --primary-color: #027703;    /* Italian Flag Green */
    --accent-color: #c20302;     /* Italian Flag Red */
    --text-color: #333333;       /* Dark Gray */
    --light-color: #ffffff;      /* White */
    --background-color: #ffe4c4;  /* Bisque */
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: 'Italianno', cursive;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

h1 {
    .italianno-regular {
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
}

h2 {
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

.audio {
    text-align: center;
    align-items: center;
}

/* Header & Navigation */
.header {
    position: sticky;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #027703 33%, #ffffff 0 66%, #c20302 0 100%);
    font-size: 45px;
}

.header-logo{
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none !important;
}

/* Hero Section */
.hero {
    position: relative;
}

.hero-image {
    z-index: 998;
    filter: brightness(0.6);
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.about-us iframe{
    align-items: center;
}

/* Bio Section */
.about-us {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: bisque;
  padding-bottom: 30px;
}

.about-us h3 {
    font-size: 25px;
    padding: 10px;
    
}

.about-us h4{
    font-size: 25px;
}

/* Footer Section */
.footer {
    font-family: "Playfair Display", serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer h4{
    font-size: 20px;
}

/* Menu Page*/

.menu h2{
    padding-bottom: 10px;
    font-size: 80px;
    text-align: center;
}

.menu h3{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.menu h4{
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex: 1 0 400px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
    transition: var(--background-color) 0.3s ease;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    text-decoration: none;
    color: var(--text-color)
}

.card:visited{
    color: var(--text-color)
}

.card:hover{
    background-color: darkgrey;
    text-decoration: underline;
}

.menu-img{
    max-width: 100%;
    min-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*Dish Pages */
.dish-pages{
    text-align: center;
}

.dish-pages h2{
    text-align: center;
    font-size: 80px;
    padding-top: 15px;
}

.dish-pages h3{
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.dish-pages h4{
    font-family: "Markazi Text", serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.dish-pages h5{
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

.dish-pages-button{
    font-family: "Playfair Display", serif;
    padding: 5px;
    height: 2em; width: 10em;
    background: linear-gradient(135deg, #027703 33%, #ffffff 0 66%, #c20302 0 100%);
    font-size: 30px;
    font-weight: bold;
    transition: var(--background-color) 0.3s ease;
    text-align: center;
}

.dish-pages-button:hover{
    filter: brightness(0.8);
    text-decoration: underline;
}

/*Contact Us Page */
.contact-us h2{
    text-align: center;
    font-size: 80px;
    padding: 10px;
}

.contact-us h3{
    text-align: center;
    font-size: 60px;
    padding: 10px;
}

.contact-form{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    flex-grow: 1;
}

.contact-us [type=submit] {
    font-family: "Playfair Display", serif;
    padding: 5px;
    height: 2em; width: 10em;
    background: linear-gradient(135deg, #027703 33%, #ffffff 0 66%, #c20302 0 100%);
    font-size: 30px;
    font-weight: bold;
    transition: var(--background-color) 0.3s ease;
}

.contact-us [type=submit]:hover{
    filter: brightness(0.8);
    text-decoration: underline;
}

.contact-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.footer-contact {
    font-family: "Playfair Display", serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/*Thank You Page*/
.footer-thank-you{
   
    font-family: "Playfair Display", serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: auto;
}

.thank-you h2{
    text-align: center;
    font-size: 80px;
    padding-top: 175px;
}

.thank-you h3{
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.thank-you-button {
    font-family: "Playfair Display", serif;
    padding: 5px;
    height: 2em; width: 10em;
    background: linear-gradient(135deg, #027703 33%, #ffffff 0 66%, #c20302 0 100%);
    font-size: 30px;
    font-weight: bold;
    transition: var(--background-color) 0.3s ease;
    text-align: center;
}

.thank-you-button:hover{
    filter: brightness(0.8);
    text-decoration: underline;
}

/*Coming-Soon Page */
.coming-soon{
    text-align: center;
}

.coming-soon h2{
    text-align: center;
    font-size: 80px;
    padding-top: 175px;
}

.coming-soon h3{
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.coming-soon-button {
    font-family: "Playfair Display", serif;
    padding: 5px;
    height: 2em; width: 10em;
    background: linear-gradient(135deg, #027703 33%, #ffffff 0 66%, #c20302 0 100%);
    font-size: 30px;
    font-weight: bold;
    transition: var(--background-color) 0.3s ease;
    text-align: center;
}

.coming-soon-button:hover{
    filter: brightness(0.8);
    text-decoration: underline;
}

.footer-coming-soon{
    font-family: "Playfair Display", serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: auto;
}

/* Responsive Design */
@media (max-width: 767px) {
    .hero-image {
        height: 40vh;    
    }
    .hero-content {
        font-size: 40px;
    }
    .header {
        font-size: 25px;
    }
    .h3 {
        font-size: 15px;
    }
    .about-us img {
        max-width: 250px;
    }
    .thank-you h2 {
        padding-top: 90px;
    }
    .coming-soon h2 {
        padding-top: 90px;
    }
    .dish-pages img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 300px;
        height: auto;
    }
}
@media (max-width: 320px) {
    .menu-img{
        padding-right: 15px;
    }
}