body {
    --primary-color: #027703;    /* Italian Flag Green */
    --accent-color: #c20302;     /* Italian Flag Red */
    --text-color: #333333;       /* Dark Gray */
    --light-color: #ffffff;      /* White */
    --background-color: #ffe4c4;  /* Bisque */
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: 'Italianno', cursive;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

h1 {
    .italianno-regular {
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
}

h2 {
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

/* Header & Navigation */
.header {
    position: sticky;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #027703 33%, #ffffff 0 66%, #c20302 0 100%);
    font-size: 45px;
}

.header-logo{
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none !important;
}

/* Hero Section */
.hero {
    position: relative;
}

.hero-image {
    z-index: 998;
    filter: brightness(0.6);
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Bio Section */
.about-us {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: bisque;
  padding-bottom: 30px;
}

.about-us h3 {
    font-size: 25px;
    padding: 10px;
    
}

.about-us h4{
    font-size: 25px;
}

/* Footer Section */
.footer {
    font-family: "Playfair Display", serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer h4{
    font-size: 20px;
}

/* Menu Page*/
.menu h2{
    padding-bottom: 20px;
    font-size: 80px;
    text-align: center;
}

.menu h3{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.menu h4{
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-align: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex: 1 0 400px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
}


/* Responsive Design */
@media (max-width: 767px) {
    .hero-image {
        height: 40vh;    
    }
    .hero-content {
        font-size: 40px;
    }
    .header {
        font-size: 25px;
    }
    .h3 {
        font-size: 15px;
    }
    .about-us img {
        max-width: 250px;
    }
    .menu img {
        max-width: 40vh;
    }
}

@media (max-width: 1440px) {
    .menu img {max-width: 400px;
    }
}